@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Ubuntu&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /*background-image: linear-gradient(to right, #39B74B, #39B74B, #A6E3AF);*/
}   

body{
    font-size: 100%;
    background-image: linear-gradient(to right, #A6E3AF, #39B74B, #39B74B );
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    background-color: /*#20D3436;*/
}  

.imagem-cabecalho{
    height: 80px;

}

.links{
    display: flex;
    gap: 32px;
}

.link1{
    font-family: 'Ubuntu', sans-serif;
    color: black;
    font-weight: 400;
    font-size: 18px;
}
 .link1:hover{
    color: white;
 }

.conteudo{
    margin-bottom: 48px;
    border-top: 0.4px solid black;
    padding: 40px;
    
}

.secao{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}

.texto-principal{
    display: flex;
    flex-direction: column;
    gap: 32px;
    
}

.titulo{
    font-family: 'Oswald', sans-serif;
    font-size: 64px;
    font-weight: 400;
    color: black;
}
.subtitulo{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: black;
}

.button{
    background-color: black;
    color: #39B74B;
    width: 180px;
    height: 60px;
    border-radius: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.336);
}

.button:hover{
   background-color: #39B74B;
   color: black; 
}
.imagem-conteudo{
    height: 430px;
}

.texto-secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.titulo-secundario{
    border-top: 0.4px solid black;
    padding-top: 48px;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: black;
    margin-bottom: 16px;

}
        
.paragrafo{
    font-family: 'Ubuntu', sans-serif;
    color: black;
    font-weight: 300;
    font-size: 18px;

}

.rodape{
    background-color:#2D3436 ;
}

.imagem-rodape{
    display: block;
    margin: 0 auto;
}
    
    

